[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
psycopg2 = "*"
django-environ = "*"
django-newsletter = "*"
django-tinymce = "*"
sorl-thumbnail = "*"
django-crispy-forms = "*"
django-celery-email = "*"
django-translation-manager = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
